@page
@model MascotaFeliz.App.Frontend.Pages.DetalleDuenosModel
@{
}
<h1>Detalles del Dueño</h1>

<div>
    Id: @Model.dueno.Id
</div>
<div>
    Cedula: @Model.dueno.Cedula
</div>
<div>
    Nombre: @Model.dueno.Nombres
</div>
<div>
    Apellido: @Model.dueno.Apellidos
</div>
<div>
    Direccion: @Model.dueno.Direccion
</div>
<div>
    Telefono: @Model.dueno.Telefono
</div>
<div>
    Correo: @Model.dueno.Correo
</div>
<a asp-page="/Duenos/ListaDuenos" class="fa-solid fa-arrow-rotate-left" id="BA"> </a>