@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{

}

<h1>Listado de propietarios</h1>
<section id ="banner-propietarios"> 
  </section>
<table class="Table" id="tbl_duenos">
<thead>
    <tr>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Detalles</th>
    <th>Editar</th>
    </tr>
</thead>
<tbody>
@foreach (var dueno in Model.listaDuenos)
{
    <tr>

        <td> @dueno.Cedula</td>
        <td> @dueno.Nombres</td> 
        <td> @dueno.Apellidos</td>    

        <td> 
            <a class= "fa-solid fa-magnifying-glass-plus" asp-page=".\DetalleDuenos" asp-route-duenoId="@dueno.Id">
                
            </a>
        </td>
        <td>
            <div>
            <a class="fa-solid fa-pen-to-square" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                   
            
            </a>
            </div>
        </td>

    </tr>
}
</tbody>
</table>
<a href="./EditarDuenos" class="boton-veterinario">Adicionar Dueño</a>