@page
@model MascotaFeliz.App.Frontend.Pages.AsignarModel
@{
}
<h1>Asignar</h1>

@*<h2>
    Nombre: @mascota.Nombre
</h2>*@


<form method="post">       
        
<div class="col-12 mt-1">
    <label for="dueno" class="form-label mb-0">Dueños</label>
    <select class="form-control" id="dueno" asp-for="mascota.Dueno.Id" name="duenoId" aria-label="Default select example">
     <option value="0">Selecciona el dueño</option> 
     @foreach (var dueno in Model.listaDueno)
     {
        <option value="@dueno.Id">@dueno.Nombres @dueno.Apellidos @dueno.Cedula  </option>
     }  
    </select>
</div>


<div class="col-12 mt-1">
    <label for="veterinario" class="form-label mb-0">veterinario</label>
    <select class="form-control" id="veterinario" asp-for="mascota.Veterinario.Id" name="veterinarioId" aria-label="Default select example">
     <option value="0">Selecciona el veterinario</option> 
     @foreach (var veterinario in Model.listaVeterinario )
     {
        <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos @veterinario.TarjetaProfesional  </option>
     }  
    </select>
</div>


    <button type="submit" class="btn btn-primary">Asignar</button>

</form>




@*<a asp-page="./Mascotas/ListaMascotas" class="btn-default">Lista de Mascotas </a>*@
