@page
@model MascotaFeliz.App.Frontend.Pages.DetalleMascotasModel
@{
}

<h1>Detalle de la Mascota</h1>

<div>
    Id: @Model.mascota.Id
</div>

<div>
    Nombre: @Model.mascota.Nombre
</div>
<div>
    Color: @Model.mascota.Color
</div>
<div>
    Especie: @Model.mascota.Especie
</div>
<div>
    Raza: @Model.mascota.Raza
</div>
<div>
    Dueño: @Model.mascota.Dueno.Nombres @Model.mascota.Dueno.Apellidos @Model.mascota.Dueno.Cedula
</div>
<div>
    Veterinario: @Model.mascota.Veterinario.Nombres @Model.mascota.Veterinario.Apellidos @Model.mascota.Veterinario.Cedula
</div>


<a asp-page="./ListaMascotas" class="fa-solid fa-arrow-rotate-left" id="BA"> </a>
