@page
@model MascotaFeliz.App.Frontend.Pages.HistoriaMascotasModel
@{
}

<h1>Historia clínica</h1>

<div>
    Fecha inicial: @Model.historia.FechaInicial
</div>

<h1>Listado de Visitas</h1>
<table class="Table" id="tbl_Visitas">
<thead>
    <tr>
    <th>Fecha </th>
    <th>T (°C) </th>
    <th>P (kg)</th>
    <th>F.Respiratoria</th>
    <th>F.Cardiaca</th>
    <th>Estado</th>
    <th>Recomendación</th>
    <th>Veterinario</th>
    <th>Editar</th>
    </tr>
</thead>
<tbody>

@foreach (var VisitaPyP in Model.listadoVisitas)
{
    <tr>

        <td> @VisitaPyP.FechaVisita </td>
        <td> @VisitaPyP.Temperatura </td> 
        <td> @VisitaPyP.Peso</td>
        <td> @VisitaPyP.FrecuenciaRespiratoria</td>
        <td> @VisitaPyP.FrecuenciaCardiaca</td>
        <td> @VisitaPyP.EstadoAnimo</td>
        <td> @VisitaPyP.Recomendaciones</td>
        <td> @VisitaPyP.Veterinario.Nombres</td>


    <td>
            <a class="fa-solid fa-book-medical" asp-page="/Visitas/AgregarVisita" asp-route-visitaId="@VisitaPyP.Id">
                    
            </a>
        </td> 
    </tr>
}
</tbody>
</table>

<a href="/Visitas/AgregarVisita" class="boton-veterinario">Agregar Visita</a>

<a asp-page="./ListaMascotas" class="fa-solid fa-arrow-rotate-left" id="BA"> </a>
