@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Listado de Mascotas</h1>
<table class="Table" id="tbl_Mascotas">
<thead>
    <tr>
    <th>Nombre</th>
    <th>Raza</th>
    @*<th>Dueño</th>*@
    <th>Detalles</th>
    <th>Editar</th>
    <th>Historia</th>
    </tr>
</thead>
<tbody>
@foreach (var Mascota in Model.listadoMascota )
{
    <tr>

        <td> @Mascota.Nombre</td>
        <td> @Mascota.Raza</td> 
        @*<td> @Mascota.Dueno.Cedula</td>   *@ 

        <td> 
            <a class= "btn btn-primary table-btn" asp-page=".\DetalleMascotas" asp-route-mascotaId="@mascota.Id">
                Detalle Mascota
            </a>
        </td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                    Editar Mascota
            </a>
        </td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./HistoriaMascotas" asp-route-mascotaId="@mascota.Id">
                    Historia Mascota
            </a>
        </td>

    </tr>
}
</tbody>
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a>