@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Listado de Mascotas</h1>
<section id ="banner-Mascotas"> 
  </section>
<table class="Table" id="tbl_mascotas">
<thead>
    <tr>
    <th>Nombre</th>
    <th>Raza</th>
    <th>Dueño</th>
    <th>Veterinario</th>
    <th>Datos</th>
    <th>Editar</th>
    <th>Historia</th>
    
    </tr>
</thead>
<tbody>

@foreach (var Mascota in Model.listadoMascota )
{
    <tr>

        <td> @Mascota.Nombre</td>
        <td> @Mascota.Raza</td> 
        <td> @Mascota.Dueno.Nombres</td>
        <td> @Mascota.Veterinario.Nombres</td>

        <td> 
            <a class= "fa-solid fa-magnifying-glass-plus" asp-page=".\DetalleMascotas" asp-route-mascotaId="@Mascota.Id">
               Detalle 
            </a>
        </td>
        <td>
            <a class="fa-solid fa-pen-to-square" asp-page="./EditarMascotas" asp-route-mascotaId="@Mascota.Id">
                Editar    
            </a>
        </td>
        <td>
            <a class="fa-solid fa-book-medical" asp-page="./HistoriaMascotas" asp-route-historiaId="@Mascota.Historia.Id">
               Editar historia     
            </a>
        </td>
    </tr>
}
</tbody>
</table>

<a href="./EditarMascotas" class="boton-veterinario">Agregar Mascota</a>